CairoSVG==2.7.1
cdsapi==0.7.0
cfgrib==0.9.14.0
geopy==2.4.1
loguru==0.7.2
numpy==2.1.2
pandas==2.2.3
Pillow==10.4.0
plotly==5.23.0
prophet==1.1.5
python_dateutil==2.9.0.post0
rapidfuzz==3.10.0
regex==2024.7.24
sentence_transformers==3.0.1
streamlit==1.37.1
streamlit_extras==0.4.7
torch==2.4.0+cu118
transformers==4.44.2
xarray==2024.7.0
